<%= extends :application do %>
  <section>
    <a name="Login"></a>
    <h2><%= content_for :title %></h2>
    <div class="row">
      <div class="small-12 columns">
        <%= yield %>
      </div>
    </div>
  </section>
<% end %>
